<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">全部说说<span class="sr-only">(current)</span></a></li>
                <li><a href="/user/小花花">我的说说</a></li>
                <li><a href="/alluser">成员列表</a></li>
            </ul>
        </div>
        <%
        if(!login){
        %>
        <ul class="nav navbar-nav navbar-right">
            <li <%if(active=="注册"){%> class="active" <%}%>><a href="/regist">注册</a></li>
            <li <%if(active=="登录"){%> class="active" <%}%>><a href="/login">登录</a></li>
        </ul>
        <%
        }else{
        %>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="###">欢迎你 <%=username%></a></li>
            <li><a href="/setavatar">设置个人资料</a></li>
        </ul>
        <%}%>>
    </div>
</nav>